<div class="container is-bottom is-full-width">
  <nav class="level is-semi-transparent is-bottom is-full-width" id="bottom-bar">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <div class="level-item is-hidden-touch is-1em-spacer">
        </div>
        <div class="field is-grouped">
          <a class="button is-transparent is-large" id="play">
            <span class="icon is-large">
              <i class="fa fa-play aria-hidden="true""></i>
            </span>
          </a>
          <a class="button is-transparent is-large" id="pause">
            <span class="icon is-large">
              <i class="fa fa-pause aria-hidden="true""></i>
            </span>
          </a>
        </div>
      </div>
      <div class="level-item is-hidden-touch is-4em-spacer">
      </div>
      <div class="level-item">
        <p class="is-size-6">
          <b>SKILLS:</b>
        </p>
      </div>
      <div class="level-item is-hidden-touch is-1em-spacer">
      </div>
      <div class="level-item">
        <aside class="menu">
          <ul class="menu-list">
            <li class="has-text-white is-size-7 is-hidden-touch">.</li>
            <li><a class="is-paddingless" id="participatory" href="/participatory/">Participatory Design</a></li>
            <li><a class="is-paddingless" id="research" href="/research/">Design Research</a></li>
            <li><a class="is-paddingless" id="visual" href="/visual/">Visual Communications</a></li>
            <li><a class="is-paddingless" id="football" href="/football/">Football for Development</a></li>
            <li class="has-text-white is-size-7 is-hidden-touch">.</li>
          </ul>
        </aside>
      </div>
    </div>
    <div class="level-item">
      <div>
        <p class="heading" id="project">{{ page.project }}</p>
        <p id="description">{{ page.description }}</p>
      </div>
    </div>
  </nav>
</div>
