<div class="container is-bottom is-full-width">
  <nav class="level is-semi-transparent is-bottom is-full-width">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <div class="field is-grouped">
          <a class="button is-transparent is-large">
            <span class="icon is-large">
              <i class="fa fa-play"></i>
            </span>
          </a>
          <a class="button is-transparent is-large">
            <span class="icon is-large">
              <i class="fa fa-pause"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="level-item">
        <aside class="menu">
          <ul class="menu-list">
            <li><a class="is-marginless is-paddingless" href="/">Participatory Design</a></li>
            <li><a class="is-marginless is-paddingless" href="/research/">Design Research</a></li>
            <li><a class="is-marginless is-paddingless" href="/visual/">Visual Communications</a></li>
            <li><a class="is-marginless is-paddingless" href="/football/">Football for Development</a></li>
          </ul>
        </aside>
      </div>
    </div>
    <div class="level-item">
      <div>
        <p class="heading">{{ page.project }}</p>
        <p>{{ page.description }}</p>
      </div>
    </div>
  </nav>
</div>