<header class="site-header" role="banner">
  <!-- <div class="columns"> -->
    <nav class="navbar is-semi-transparent" id="top-bar">
      <div class="navbar-brand">
        <div class="navbar-item is-hidden-touch is-1em-spacer">
        </div>
        <div class="tile">
          <a class="navbar-item is-uppercase is-size-3-desktop is-size-6-touch has-padding-bottom" href="/">
          <b>{{ site.title }}</b></a>
          <p class="navbar-item is-size-5-desktop is-size-7-touch"><i>My days are filled with play.</i></p>
        </div>
        <div class="navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" id="navMenu">
        <!-- <div class="navbar-start">
          <p class="navbar-item is-size-6"><i>My days are filled with play.</i></p>
        </div> -->
        <div class="navbar-end">
          <a class="navbar-item is-size-5" href="http://passcollective.org" target="_blank">
          <b>PASS</b>
          </a>
          <a class="navbar-item is-size-5" href="https://goo.gl/WqkNZY" target="_blank">
          <b>Football || Design</b>
          </a>
          <a class="navbar-item is-size-5" href="https://drive.google.com/file/d/0Bxl05gL17UfuS09GN0hTNjVPUHM/view?usp=sharing" target="_blank">
          <b>CV</b>
          </a>
          <div class="navbar-item">
            <div class="field is-grouped">
            <!-- {% if site.email != "" %}
              <a class="button is-transparent" href="mailto:{{ site.email }}" target="_blank">
                <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              </a>&nbsp;
            {% endif %} -->
            {% if site.linkedin %}
              <a class="button is-transparent" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
                <span class="icon is-size-4"><i class="fa fa-linkedin is-size-4" aria-hidden="true"></i></span>
              </a>&nbsp;
            {% endif %}
            <!-- {% if site.twitter %}
              <a class="button" href="https://twitter.com/{{ site.twitter }}" target="_blank">
                <span class="icon"><i class="fa fa-twitter" aria-hidden="true"></i></span>
              </a>
            {% endif %} -->
            <!-- {% if site.github %}
              <a class="button is-transparent" href="https://github.com/{{ site.github }}" target="_blank">
                <span class="icon"><i class="fa fa-github" aria-hidden="true"></i></span>
              </a>&nbsp;
            {% endif %} -->
          </div>
            </div>
        </div>
      </div>
    </nav>
  <!-- </div> -->
</header>
