<header class="site-header" role="banner">
  <!-- <div class="container"> -->
    <nav class="navbar is-semi-transparent">
      <div class="navbar-brand">
        <a class="navbar-item is-uppercase" href="/">{{ site.title }}</a>
        <!-- <p class="navbar-item">:-)</p>
        <p class="navbar-item">:-D</p>
        <p class="navbar-item">:-P</p> -->
        <div class="navbar-burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <p class="navbar-item is-size-7">I root for the underdogs to rise, persevere and achieve through football and design thinking.</p>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="http://passcollective.org">
          PASS
          </a>
          <a class="navbar-item" href="https://goo.gl/WqkNZY">
          Football || Design
          </a>
          <a class="navbar-item" href="https://drive.google.com/file/d/0Bxl05gL17UfuS09GN0hTNjVPUHM/view?usp=sharing">
          Resume
          </a>
          <div class="navbar-item">
            <div class="field is-grouped">
            <!-- {% if site.email != "" %}
              <a class="button is-transparent" href="mailto:{{ site.email }}" target="_blank">
                <span class="icon"><i class="fa fa-envelope"></i></span>
              </a>&nbsp;
            {% endif %} -->
            {% if site.linkedin %}
              <a class="button is-transparent" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
                <span class="icon"><i class="fa fa-linkedin"></i></span>
              </a>&nbsp;
            {% endif %}
            {% if site.twitter %}
              <a class="button is-transparent" href="https://twitter.com/{{ site.twitter }}" target="_blank">
                <span class="icon"><i class="fa fa-twitter"></i></span>
              </a>
            {% endif %}
            {% if site.github %}
              <a class="button is-transparent" href="https://github.com/{{ site.github }}" target="_blank">
                <span class="icon"><i class="fa fa-github"></i></span>
              </a>&nbsp;
            {% endif %}
          </div>
            </div>
        </div>
      </div>
    </nav>
  <!-- </div> -->
</header>
