<script type="text/javascript">
  var pathname = window.location.pathname.replace('/','').replace('/','').replace('/','');
  // console.log('On page: '+pathname);
  $('#'+pathname).addClass('is-current-skill');
</script>

<script type="text/javascript">
  $('#show-nav').hide();
  $( '#show-nav' ).click(function() {
    $(this).hide();
    $('#hide-nav').show();
    $('#bottom-bar').show();
    $('#top-bar').show();
    console.log('Nav bars showing');
  });
  $( '#hide-nav' ).click(function() {
    $(this).hide();
    $('#show-nav').show();
    $('#bottom-bar').hide();
    $('#top-bar').hide();
    console.log('Nav bars hidden');
  });
</script>

<script>
  // $('#top-bar').css('height', '7em');
  // $('#bottom-bar').css('height', '6em');
  // $('#bottom-bar').css('height', 'auto');
</script>

<script type="text/javascript">
  var play_slides = true;
  $('#pause').show();
  $('#play').hide();
  $( '#pause' ).click(function() {
    play_slides = false;
    $(this).hide();
    $('#play').show();
    console.log('Slideshow paused');
  });
  $( '#play' ).click(function() {
    play_slides = true;
    $(this).hide();
    $('#pause').show();
    console.log('Slideshow resumed');
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    var image = $('html');
    var i = 0;
    $('#project').text(projects[i]);
    $('#description').text(descriptions[i]);
    image.css('background', 'url(' + images [i++] +') no-repeat center center fixed');
    image.css('-webkit-background-size', 'cover');
    image.css('-moz-background-size', 'cover');
    image.css('-o-background-size', 'cover');
    image.css('background-size', 'cover');
    if(i == images.length)
      i = 0;
    setInterval(function(){
      if (play_slides == true) {
        $('#project').text(projects[i]);
        $('#description').text(descriptions[i]);
        image.css('background', 'url(' + images [i++] +') no-repeat center center fixed');
        image.css('-webkit-background-size', 'cover');
        image.css('-moz-background-size', 'cover');
        image.css('-o-background-size', 'cover');
        image.css('background-size', 'cover');
        if(i == images.length)
          i = 0;
      }
    },interval);

  });
</script>
