.is-bottom {
  position: fixed;
  bottom: 0;
}

.has-padding-top {
  padding-bottom: 0.2em;
}

.has-padding-bottom {
  padding-bottom: 0.2em;
}

.has-no-side-padding {
  padding-left: 0em;
  padding-right: 0em;
}

.is-full-width {
  width: 100%;
}

.is-transparent {
  background-color: transparent;
}

.is-semi-transparent {
  background-color: rgba(255,255,255,0.8);
}

.is-current-skill {
  font-weight: bolder;
}

.is-4em-spacer {
  padding-left: 4em;
}

.is-1em-spacer {
  padding-left: 1em;
}

/*#top-bar {
  height: 100px;
}*/

html, body {
  font-family: 'Source Sans Pro', sans-serif !important;
}

* {
  color: #000 !important;
}

.is-fixed-right {
  position: absolute;
  right: 0;
  top: 50%;
}
